<footer>
    <div class="footer-bottom py-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-6" id="copyright">
                    <div>Droits d'auteur © CurrentCopyrightYear. Créé par
                        <a href="index.php">Glubble</a>
                    </div>
                </div>
                <div class="col-lg-6 text-right">
                    <a href="#">À propos</a>
                    <a href="#">Politique de confidentialité</a>
                    <a href="#">Contact</a>
                </div>
            </div>
        </div>
    </div>
</footer>

<script>
    var dateNow = new Date();
    var intYear = dateNow.getFullYear();
    $('#copyright').each(function() {
        var text = $(this).text();
        $(this).text(text.replace('CurrentCopyrightYear', intYear));
    });
</script>