{% load i18n %}
<div class="container box-shadow my-5 py-3 cards-comparison">
    <div class="specs-heading">
        <!-- <h3>NVIDIA GeForce RTX 3070 Popular Comparisons</h3> -->
        <h3>{% trans "Popular Comparisons" %}</h3>
        <p class="f-14 text-grey">
            {% trans "Find out which of the 2 GPUs performs better, view a side-by-side specification comparison." %}
        </p>
    </div>

    <div class="row mt-5">
        {% if request.path == '/graphics-cards/' %}
        {% for obj in obj.compare_gpu %}
        <div class="col-lg-4 col-md-6 mb-3">
            <button id="compare-btn" class="box-shadow comparison-card card"
                onclick="Render('{{obj.name}}','{{obj.next_instance.name}}')"> <!-- box-shadow comparison-card -->
                <div class="c-vs"><span>{% trans "VS" %}</span></div>
                <div class="row">
                    <div class="col-6">
                        <img src="{{ obj.brand_image }}" alt="">
                        <h4 id="gpu1">{{obj.name}}</h4>
                    </div>
                    <div class="col-6">
                        <img src="{{ obj.next_instance.brand_image }}" alt="">
                        <h4 id="gpu2">{{obj.next_instance.name}}</h4>
                    </div>
                </div>
            </button>
        </div>
        {% endfor %}
        <!-- request.path == '/graphics-cards/{{obj.url_name|lower}}/' -->

        {% elif obj.url_name %}
        {% for obj_comp in obj.above_below_10 %}
        <div class="col-lg-4 col-md-6 mb-3">
            <button id="compare-btn" class="box-shadow comparison-card"
                onclick="Render('{{obj.name}}','{{obj_comp.name}}')">
                <div class="c-vs"><span>{% trans "VS" %}</span></div>
                <div class="row">
                    <div class="col-6">
                        <img src="{{ obj.brand_image }}" alt="">
                        <h4>{{obj.name}}</h4>
                    </div>
                    
                    <div class="col-6">
                        <img src="{{ obj_comp.brand_image }}" alt="">
                        <h4>{{obj_comp.name}}</h4>
                    </div>
                </div>
            </button>
        </div>
        {% endfor %}

        {% else %}

        {% for obj_comp in obj_0.compare_gpu_10 %}
        <div class="col-lg-4 col-md-6 mb-3">
            <button id="compare-btn" class="box-shadow comparison-card"
                onclick="Render('{{obj_0.name}}','{{obj_comp.name}}')">
                <div class="c-vs"><span>{% trans "VS" %}</span></div>
                <div class="row">
                    <div class="col-6">
                        <img src="{{ obj_0.brand_image }}" alt="">
                        <h4>{{obj_0.name}}</h4>
                    </div>
                    
                    <div class="col-6">
                        <img src="{{ obj_comp.brand_image }}" alt="">
                        <h4>{{obj_comp.name}}</h4>
                    </div>
                </div>
            </button>
        </div>
        {% endfor %}

        {% for obj_comp in obj_1.compare_gpu_10 %}
        <div class="col-lg-4 col-md-6 mb-3">
            <button id="compare-btn" class="box-shadow comparison-card"
                onclick="Render('{{obj_1.name}}','{{obj_comp.name}}')">
                <div class="c-vs"><span>{% trans "VS" %}</span></div>
                <div class="row">
                    <div class="col-6">
                        <img src="{{ obj_1.brand_image }}" alt="">
                        <h4>{{obj_1.name}}</h4>
                    </div>
                    
                    <div class="col-6">
                        <img src="{{ obj_comp.brand_image }}" alt="">
                        <h4>{{obj_comp.name}}</h4>
                    </div>
                    
                </div>
            </button>
        </div>
        {% endfor %}
        
        {% endif %}
    </div>

</div>
<script>
function Render(obj1,obj2) {
    window.location.replace("/{{LANGUAGE_CODE}}/graphics-cards/" + obj1.replace(/\s+/g, '-').toLowerCase() + "-vs-" + obj2.replace(/\s+/g, '-').toLowerCase() + "/")
}
</script>

<script>
    var currentLocation = window.location.href;
    let substringToRemove = "http://127.0.0.1:8000/";
    let modifiedString = originalString.replace(new RegExp(substringToRemove, "g"), "");
</script>