<!--Pre Loader-->
{% load i18n %}
{% load static %}
<div class="preloaderBg" id="preloader">
    <div class="preloader-wrap">
        <div class="preloader-logo"></div>
        <div class="preloader-circle"></div>
    </div>
</div>
<script>
    $(window).on('load', function () { // makes sure the whole site is loaded
        $('#preloader').delay(350).fadeOut('fast'); // will fade out the white DIV that covers the website.
        $('html').css({'overflow-y': 'auto'});
    });
</script>

<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>


<!--Navbar-->

<div class="nav-container" id="nav-cont">
    <nav class="navbar navbar-expand-lg navbar-dark" id="nav">
        <div>
            <a href="/graphics-cards/" id="nav-logo">
                <img src="{% static 'assets/img/logo.svg' %}" alt="">
            </a>
        </div>
        <div class="d-lg-none">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
                    aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ml-auto align-items-center">
                <li class="nav-item">
                    <a href="#" class="nav-link">{% trans "KNOWLEDGE CENTER" %}</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">{% trans "GENERAL QUERIES" %}</a>
                </li>
                <li class="position-relative">
                    <button class="nav-link drop-button2">
                        <span>{% trans "GRAPHIC CARDS" %}</span>
                        <span class="nav-d-icon"><i class="fa fa-chevron-down"></i></span>
                    </button>
                    <ul class="nav-dropdown" id="drop-2">
                        <!-- <li><a href="ship-now.php" class="nav-link">Create a Shipment</a></li> -->
                    </ul>
                    <li>
                        <select name="languages" id="languages">
                            <option value="en">English</option>
                            <option value="fr">French</option>
                            <option value="de">Deutsch</option>
                            <option value="ar">Arabic</option>
                            <option value="es">Española</option>
                            <option value="hi">हिंदी</option>
                            <option value="zh">中国人</option>
                            <option value="tr">Türkçe</option>
                        </select>
                    </li>
                </li>
            </ul>
        </div>
    </nav>
</div>